<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"></link>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</h:head>
<h:body>
<h:link value="To index" outcome="index" />
<h:form>
    <h:inputText value="#{todoCreate.todoName}" />
    <h:commandButton value="Submit" action="index" />
</h:form>
    
</h:body>
</html>
